body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgba(0, 51, 46, 0.1); /* Color oscuro con opacidad */
    position: relative;
    width: 100%;
}

/* Contenedor principal para el contenido */
.content-wrapper {
    margin-left: 1.5%; /* Ajusta según el ancho del menú lateral */
    transition: margin-left 0.3s ease;
    width: 98.5%;
    height: 100%;

}

/* Asegúrate de que el contenido se ajuste en pantallas pequeñas */
@media (max-width: 768px) {
    .content-wrapper {
        margin-left: 4%; /* Reduce el margen para pantallas pequeñas */
        transition: margin-left 0.3s ease;
        width: 96%;
    }
}

@media (max-width: 480px) {
    .content-wrapper {
        margin-left: 4%; /* Elimina el margen para pantallas muy pequeñas */
        transition: margin-left 0.3s ease;
        width: 96%;
    }
}

.map-container {
    margin-top: 20px;
    height: 500px;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    background: #eaeaea;
    opacity: 0;
    transform: translateY(100%);
    transition: transform 1s, opacity 1s;
}
.map-container.visible {
    opacity: 1;
    transform: translateY(0);
}
.btn-custom {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
}
.btn-custom:hover {
    background-color: #0056b3;
}
.modal-header {
    background-color: #007bff;
    color: white;
}
.modal-body {
    background-color: #f9f9f9;
}



.main-content {
    margin-left: 60px; /* Ancho del menú colapsado */
    padding: 20px;
    flex: 1;
    position: fixed;
}


/*-------------------------*/

.custom-icon {
    background-color: transparent;
    border: none;
}

.custom-marker {
    position: relative;
    width: 24px;
    height: 24px;
    background: blue;
    border-radius: 50% 50% 50% 0;
    transform: rotate(-45deg);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    font-size: 12px;
}

/* Estilos para el modal */
.modal {
    display: none; /* Ocultar el modal por defecto */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Oscurece el fondo */
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Asegura que el modal esté sobre otros elementos */
    opacity: 0;
    transition: opacity 0.3s ease;
}

.modal.show {
    display: flex;
    opacity: 1;
    animation: slideIn 0.4s ease;
}

.modal-content {
    background-color: #ffffff;
    border-radius: 12px;
    width: 90%;
    max-width: 400px; /* Ancho máximo del modal */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    position: relative;
    transition: transform 0.3s ease; 
    transform: translateY(-20px);
}

.modal.show .modal-content {
    transform: translateY(0);
}

.modal-header {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    padding: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

.modal-header h2 {
    margin: 0;
    font-size: 18px;
    color: #fff;
}

.modal-close {
    border: none;
    background-color: #00332e;
    color: #fff;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
    line-height: 1;
    transition: background 0.3s, transform 0.2s;
}

.modal-close:hover {
    background-color: #e60000;
    transform: scale(1.05);
}

.modal-body {
    padding: 10px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    background-color: #fff;
}

.modal-body p {
    margin: 10px 0;
    font-size: 16px;
    color: #333;
}

@media (max-width: 600px) {
    .modal-content {
        width: 95%;
    }
}

@keyframes slideIn {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
